#home {
  background: url("http://i.huffpost.com/gen/1432095/images/o-EQUATION-facebook.jpg") no-repeat center center fixed;
  background-size: cover;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  height: 800px;
  color: #c8d2fe; }
  #home h1 {
    font-size: 250%;
    font-family: "Michroma", sans-serif;
    margin-top: 80px; }
  #home h4 {
    font-size: 250%; }

#about {
  color: #282832; }
  #about h1 {
    font-family: "Michroma", sans-serif;
    border-bottom: solid #282832; }

#contact {
  color: #282832; }
  #contact h1 {
    font-family: "Michroma", sans-serif;
    border-bottom: solid #282832; }
  #contact p {
    text-align: center; }

#portfolio h1 {
  font-family: "Michroma", sans-serif;
  border-bottom: solid #282832; }
#portfolio p {
  text-align: center; }

.thumbnail h4 {
  font-family: "Michroma", sans-serif;
  border-bottom: solid #282832; }

#namebox {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  width: 380px;
  height: 100px;
  z-index: 2; }
  @media screen and (max-width: 450px) {
    #namebox {
      width: 230px;
      height: 170px; } }

.portfolioSpot {
  min-height: 500px;
  }
  @media screen and (max-width: 950px) {
    .portfolioSpot {
      min-height: 500px;
      }
  }
      @media screen and (max-width: 650px) {
        .portfolioSpot {
          min-height: 500px;
          }
      }
          @media screen and (max-width: 450px) {
            .portfolioSpot {
              min-height: 300px;
              }
          }




